.titlephoto
{
    position:relative;
}
.titlephoto img
{
    width:100%;
    height:550px;
}
.titlephoto p
{
    color:#ffff;
    font-size:96px;
    position:absolute;
    left:420px;
    top:60px;
}
.scroll
{
    display:block;
    background-color:blue;
    color:antiquewhite;
    cursor:pointer;
}
.circle
{
    width:60px;
    height:60px;
    border:4px solid;
    border-radius:50%;
    position:relative;
    top:10px;
    left:90%;
    cursor:pointer;
    overflow:hidden;
}
.heart
{
    position:absolute;
    top:10px;
    left:10px;
    width:30px;
    height:30px;
    background-color:black;
    clip-path:polygon(50% 0%,100% 35%,90% 100%,50% 65%,10% 100%,0% 35%);
}
